Source: gnunet
Section: net
Priority: optional
Maintainer: Arnaud Kyheng <Arnaud.Kyheng@free.fr>
Uploaders: Daniel Baumann <daniel@debian.org>
Build-Depends: cdbs (>= 0.4.23-1.1), debhelper (>= 4.1.16), libltdl3-dev, libsqlite3-dev, libmysqlclient15-dev, libgcrypt11-dev, guile-1.6, libgmp3-dev (>= 4.0.0), libextractor-dev (>= 0.5.9-1), libgtk2.0-dev (>= 2.6.0-1), libncurses5-dev, gettext (>=0.14.1-1), libglade2-dev
Standards-Version: 3.7.2

Package: gnunet
Architecture: any
Depends: adduser, libgcrypt11, libgmp3c2, libsqlite3-0, debconf (>= 1.2.0) | debconf-2.0, libextractor1c2a (>= 0.5.9-1), gettext (>=0.14.1-1), libglade2-0
Suggests: libgtk2.0-0 (>= 2.6.0-1), libncurses5, gnunet-gtk
Description: Secure, trust-based peer-to-peer framework
 GNUnet is a peer-to-peer framework which focuses on providing security.
 All link-to-link messages in the network are confidential and authenticated.
 The framework provides a transport abstraction layer and can currently
 encapsulate the peer-to-peer traffic in UDP, TCP, or SMTP messages.
