#!/bin/sh -e
# Config script for gnunet
#
# Author: Arnaud Kyheng <Arnaud.Kyheng@free.fr>

# Source debconf library.
. /usr/share/debconf/confmodule

# Check for post 0.7 type of GNUnet package
if dpkg --compare-versions "$2" lt "0.7.0-1" && \
	[ -e /etc/gnunet.conf.prior07 ]; then
	# Warn the user for the database storage move.
	db_reset gnunet-daemon/prior_07 || true
	db_input critical gnunet-daemon/prior_07 || true
	db_go
fi

# Ask for GNUnet daemon user
db_input medium gnunet-daemon/gnunet_user || true
db_go

# Ask for GNUnet daemon group
db_input medium gnunet-daemon/gnunet_group || true
db_go

# Ask for GNUnet autostart
db_input high gnunet-daemon/launch_at_startup || true
db_go

