[Desktop Entry]
Version=1.0
Type=Application
Encoding=UTF-8
Name=GNUnet
GenericName=GNUnet
Comment=GTK frontend to GNUnet
TryExec=
Exec=gnunet-gtk
Icon=gnu_in_net
Terminal=false
Categories=Application;Network;Peer-to-peer;GTK;
