#!/bin/sh

set -e

# Source debconf library.
. /usr/share/debconf/confmodule

# Ask for GNUnet server user
db_input medium gnunet-server/gnunet_user || true
db_go

# Ask for GNUnet server group
db_input medium gnunet-server/gnunet_group || true
db_go

# Ask for GNUnet autostart
db_input high gnunet-server/launch_at_startup || true
db_go
