#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk


DEB_CONFIGURE_EXTRA_FLAGS := --disable-rpath \
                --disable-ipv6 \
                --with-libgcrypt=/usr \
                --with-sqlite=/usr \
                --with-mysql=/usr \
                --with-extractor=/usr \
                --enable-guile \
                --with-pic

DEB_DH_INSTALLINIT_ARGS := --noscripts

DEB_DH_MAKESHLIBS_ARGS_ALL := --version-info


install/gnunet::
	mkdir -p $(CURDIR)/debian/gnunet/etc
	cp $(CURDIR)/debian/gnunetd.conf $(CURDIR)/debian/gnunet/etc/gnunetd.conf


clean::
	debconf-updatepo

